:root {
    --opacity-value: 1;
    --black-color: black;
    --white-color: white;
    --orange-color: #fe8900;
}

@keyframes right-bill {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes left-bill {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model {
    width: 600px;
    height: 600px;
    position: relative;
    /* transform: scale(5) translateX(-181px) translateY(-178px); */
}

.model::after {
    content: "";
    /* background-image: url('model.jpg'); */
    opacity: var(--opacity-value);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.penguin {
    width: 150px;
    height: 180px;
    position: absolute;
    bottom: 35px;
    right: 45px;
}

.head {
    border-top-left-radius: 101% 211%;
    border-top-right-radius: 96% 149%;
    background: var(--black-color);
    width: 85px;
    height: 60px;
    position: absolute;
    left: 40px;
    top: 3px;
    z-index: 2;
}

.eyes {
    position: absolute;
    top: 21px;
    left: 22px;
    width: 78px;
}

.eye {
    width: 25px;
    height: 25px;
    background: var(--white-color);
    border-radius: 50%;
    position: absolute;
    border: solid var(--black-color) 4px;
}

.eye--2 {
    right: 12px;
}

.bill {
    width: 4px;
    height: 4px;
    background: var(--black-color);
    border-radius: 50%;
}

.eye--1 .bill {
    left: 5px;
    top: 8px;
    position: absolute;
    transform-origin: 2px 4px;
    animation: left-bill 1500ms ease-in-out infinite;
}

.eye--2 .bill {
    right: 7px;
    top: 8px;
    position: absolute;
    transform-origin: 2px 4px;
    animation: right-bill 1000ms ease-in-out infinite;
}

.beak {
    background: var(--orange-color);
    position: absolute;
    bottom: -2px;
    width: 17px;
    height: 16px;
    left: 48px;
    border-bottom-left-radius: 90% 65%;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 65% 90%;
    border-top-left-radius: 50%;
}

.body--top {
    background: var(--black-color);
    width: 90px;
    height: 64px;
    top: 60px;
    left: 38px;
    position: absolute;
    border-top-right-radius: 7% 119%;
    border-top-left-radius: 6% 144%;
    opacity: var(--opacity-value);
}

.body--bottom {
    background: var(--black-color);
    width: 97px;
    height: 82px;
    top: 94px;
    left: 31px;
    position: absolute;
    z-index: 2;
    border-bottom-left-radius: 36% 37%;
    border-bottom-right-radius: 37% 37%;
    opacity: var(--opacity-value);
}

.white-body {
    background: var(--white-color);
    height: 59px;
    width: 47px;
    bottom: 18px;
    left: 67px;
    position: absolute;
    z-index: 15;
    opacity: var(--opacity-value);
    border-top-left-radius: 55% 63%;
    border-top-right-radius: 37%;
    border-bottom-left-radius: 36%;
    border-bottom-right-radius: 46%;
}

.arm {
    position: absolute;
    background: var(--black-color);
    z-index: 10;
    opacity: var(--opacity-value);
}

.arm--left {
    width: 80px;
    height: 39px;
    transform: rotate(-43deg);
    top: 99px;
    left: -8px;
    border-top-left-radius: 95% 58%;
    border-bottom-left-radius: 29% 38%;
}

.arm--left .white-arm {
    position: absolute;
    background: var(--white-color);
    height: 11px;
    width: 33px;
    left: 5px;
    top: 23px;
    border-top-right-radius: 53%;
    border-top-left-radius: 99% 59%;
    border-bottom-right-radius: 63%;
    border-bottom-left-radius: 83%;
    transform: rotate(9deg);
}

.arm--left .white-arm-2 {
    position: absolute;
    background: var(--white-color);
    height: 16px;
    width: 9px;
    left: 26px;
    top: 28px;
    border-top-right-radius: 53%;
    border-top-left-radius: 99% 59%;
    border-bottom-right-radius: 63%;
    border-bottom-left-radius: 10px 20px;
    transform: rotate(37deg);
}

.arm--right {
    width: 80px;
    height: 39px;
    transform: rotate(49deg);
    top: 90px;
    left: 84px;
    border-top-right-radius: 90% 62%;
    border-bottom-right-radius: 48% 38%;
}

.arm--right .white-arm {
    position: absolute;
    background: var(--black-color);
    height: 11px;
    width: 33px;
    left: 40px;
    top: 20px;
    border-top-right-radius: 99% 59%;
    border-bottom-right-radius: 83%;
    border-bottom-left-radius: 63%;
    border-top-left-radius: 53%;
    transform: rotate(9deg);
}

.arm--right .black-arm {
    position: absolute;
    background: var(--black-color);
    height: 8px;
    width: 25px;
    left: 35px;
    top: 26px;
    z-index: 20;
    transform: rotate(40deg);
}

.feet {
    width: 80px;
    height: 6px;
    background: var(--orange-color);
    position: absolute;
    z-index: 1;
    bottom: 0;
    border: solid var(--black-color) 4px;
    left: 38px;
    border-bottom-right-radius: 8px 6px;
    border-top-right-radius: 9px 9px;
    border-bottom-left-radius: 8px 6px;
    border-top-left-radius: 9px 9px;
}